.pic-container {
    width: 50vw;
    height: 20vw;
    margin: auto;
} 
.pictures {
    display: inline-block;
    height: 100%;
    width: 33.3%;
}
.img1 {
    filter: sepia(1); 
}
.img2 {
    filter: gray; 
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
}
.subtopic{
background-color: rgb(246, 62, 62);}

@media only screen and (max-width: 820px) {
    .pictures {
        display: inline-block;
        height: 80%;
        width: 40%;
    }
    .pic-container {
        width: 500px;
        height: 160px;
        margin: auto;
    } 
    .subtopic{
        background-color: rgb(246, 62, 62);
    }
    .img1, .img2{
        display: none;
    }
        
    
}